<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127353151237-5sja4esi5pmkhl886e6i9a8n329duh02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127353151237-5sja4esi5pmkhl886e6i9a8n329duh02</string>
	<key>API_KEY</key>
	<string>AIzaSyCt365l7OoW99VC-OnBnVrc-vXV6aIToq8</string>
	<key>GCM_SENDER_ID</key>
	<string>127353151237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikunj.uberRider</string>
	<key>PROJECT_ID</key>
	<string>uberclone-800c3</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-800c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127353151237:ios:54137559addc1ec115216c</string>
</dict>
</plist>